/* Fonts */

@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2");
  font-display: swap;
}

/* /Fonts */

/* Basic style */

body {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;

  color: #000000;
  background-color: #ffffff;
}

/* Basic style */



/* Page header*/

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.page-header a {
  color: inherit;
  text-decoration: none;
}

.navigation-user {
  font-family: "Rubik", sans-serif;
  line-height: 30px;
  color: inherit;
}

.navigation-user-search,
.search-button {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}


.navigation-main {
  color: inherit;
  text-transform: uppercase;
}

/* /Page header */

/* Main inner index */
/* Inner header */

.inner-header-title {
  font-size: 50px;
  line-height: 50px;
}

.breadcrumb-item {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.breadcrumb-link {
  color: inherit;
  text-decoration: none;
}

/* /Inner header*/

/* Section Catalog product */

.catalog-filter-subtitle {
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-family: "Rubik", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
}

.control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.show-button {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
}

.select-control-options {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
}

.product-card-link {
  text-decoration: none;
}

.product-card-title {
  font-family: 'Rubik', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.product-card-price {
  font-family: "Rubik", sans-serif;
  font-weight: 400;
  line-height: 21px;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.pagination-link {
  font-family: 'Rubik';
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.pagination-disabled {
  color: #444444;
}




.ascending-sort-button {
  text-decoration: none;
}

/* /Main inner index */

/* Page footer */

.page-footer {
  color: #ffffff;
  background-color: #444444;
}

.page-footer-menu-link {
  color: inherit;
  text-decoration: none;
  text-transform: uppercase;
}

.page-footer-item,
.footer-contacts-phone  {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.footer-contacts-phone {
  color: inherit;
  text-decoration: underline;
}
